<div *ngIf="errors" class="errors">
   {{errors[0] }}
</div>

<div class="register">
    <form action="" [formGroup]="registerForm"> 
        <small for="username">Username</small>
        <br>
        <input type="text" placeholder="Username" formControlName="username">
        <br>
        
        <small for="password">Password</small>
        <br>
        <input type="password" placeholder="Password" formControlName="password">

        <br>
        <small for="password">Role</small>
        <br>
        <input type="text" placeholder="Role" formControlName="role">
        
        <br>
        <button (click)="register()" 
            class="btn" 
            [ngClass]="[registerForm.valid ? 'btn' : 'btn-disabled']"
            [disabled]="!registerForm.valid" 
            value="registerForm">Register
        </button>
        
    </form>
    
</div>